body {
    font: 14px 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding: 0 24px;
    margin: 0 auto;
    zoom: 1;
}

.sidebar {
    min-height: 720px;
}

.position {
    border: 1px solid #fff;
    vertical-align: middle;

}

img {
    width: 42px;
    height: 42px;
}

.avatar {
    width: 188px;
    height: 188px;
}

ul.bar-info li {
    display: table-cell;
    height: 100px;
    list-style-type: none;
    padding: 20px;
    vertical-align: middle;
}

.technology-stack li {
    margin-bottom: 5px
}


.section-header {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    padding: .2rem 0 .4rem;
    margin-bottom: 1.5rem;
}

.buffer-center {
    padding-left: 25%;
    padding-bottom: 20px;
}

.text-right {
    float: right;
}

.not_show {
    display: none;
}

@media print {
    .no-print {
        display: none;
    }

    .print {
        display: block;
        visibility: visible;
    }
}

.buffer-bottom-0 {
    margin-bottom: 0;
}

@media (max-width: 965px) {
    .sm-resize {
        max-width: 100%
    }
}

.balalaika {
    width: 27px;
    height: 27px;
}

.unset {
    all: unset;
}

.buffer-left-10 {
    padding-left: 10px;
}

.buffer-left-80-percent {
    padding-left: 80%
}
